extends ./partials/header
block main
  .index-wrapper(style=setFrontDisplayStyle(page, 'index/*'))
    template.index-general-each-project-wrapper(style='display: none')
      .index-general-each-project-inner-wrapper
        img.index-general-each-project-image(alt=`${__('index-home-each-project-image-alt')} `)
        .index-general-each-project-content-wrapper
          .index-general-each-project-content-header-wrapper
            .index-general-each-project-name
            .index-general-each-project-help-wrapper
              .index-general-each-project-help-text-wrapper
                .index-general-each-project-help-text
                a.index-general-each-project-help-link(target='_blank')= __('index-general-each-project-help-link')
              svg.index-general-each-project-help-icon(viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg')
                path(d='M5.62912 3.51217C5.39636 3.47225 5.15698 3.51599 4.95338 3.63564C4.74978 3.7553 4.59509 3.94316 4.51673 4.16593C4.42509 4.42643 4.13963 4.56331 3.87914 4.47168C3.61864 4.38004 3.48175 4.09458 3.57339 3.83409C3.73013 3.38853 4.03949 3.01283 4.44669 2.77351C4.8539 2.5342 5.33265 2.44671 5.79817 2.52656C6.2637 2.60641 6.68594 2.84844 6.99011 3.20977C7.29422 3.57104 7.46069 4.02825 7.46006 4.50047C7.45983 5.26565 6.89253 5.77096 6.48741 6.04104C6.26959 6.18625 6.05534 6.29302 5.8975 6.36317C5.81788 6.39856 5.75082 6.42541 5.70251 6.44382C5.67831 6.45304 5.65869 6.46018 5.64441 6.46526L5.62704 6.47134L5.62151 6.47323L5.61956 6.47389L5.6188 6.47414C5.6188 6.47414 5.61817 6.47435 5.46006 6.00001L5.61817 6.47435C5.3562 6.56168 5.07304 6.4201 4.98572 6.15812C4.89845 5.89633 5.03978 5.61337 5.30142 5.52584L5.3094 5.52304C5.31709 5.52031 5.3297 5.51574 5.34651 5.50933C5.38023 5.49649 5.43037 5.47647 5.49136 5.44936C5.61478 5.3945 5.77552 5.31378 5.93271 5.20899C6.27751 4.97912 6.46006 4.73458 6.46006 4.50001L6.46006 4.49927C6.46041 4.26311 6.37717 4.03444 6.22508 3.85378C6.073 3.67311 5.86188 3.55209 5.62912 3.51217Z')
                path(d='M5.5 7.5C5.22386 7.5 5 7.72386 5 8C5 8.27614 5.22386 8.5 5.5 8.5H5.505C5.78114 8.5 6.005 8.27614 6.005 8C6.005 7.72386 5.78114 7.5 5.505 7.5H5.5Z')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M0 5.5C0 2.46243 2.46243 0 5.5 0C8.53757 0 11 2.46243 11 5.5C11 8.53757 8.53757 11 5.5 11C2.46243 11 0 8.53757 0 5.5ZM5.5 1C3.01472 1 1 3.01472 1 5.5C1 7.98528 3.01472 10 5.5 10C7.98528 10 10 7.98528 10 5.5C10 3.01472 7.98528 1 5.5 1Z')
            a.index-general-each-project-link(target='_blank')
              svg.index-general-each-project-link-icon(viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg')
                path(d='M12.394 11.7999L11.3168 5.28297L12.2032 4.39657L11.4038 3.5972L10.5174 4.48359L4.23676 3.56988L3.0893 4.71734L10.2453 5.72928L9.98853 5.46035L11.204 12.9899L12.394 11.7999Z')
                rect(x='10.6045' y='5.99512' width='8.7613' height='1.13049' transform='rotate(135 10.6045 5.99512)')
          .index-general-each-project-description
      .index-general-each-project-install-button(id=`index-general-each-project-install-button-`)
        .index-general-each-project-install-button-text= __('index-general-each-project-install-button-text')
    .index-home-wrapper(style=setFrontDisplayStyle(page, 'index/home'))
      .index-home-header-wrapper
        .index-home-header-each-button.index-home-header-each-button-active#index-home-header-each-button-testnet= __('index-home-header-each-button-testnet')
        .index-home-header-each-button#index-home-header-each-button-mainnet= __('index-home-header-each-button-mainnet')
      .index-home-content-wrapper#index-home-content-testnet-wrapper
        .index-general-projects-wrapper
          - console.log(1, projects)
          each project in projects
            .index-general-each-project-wrapper
              .index-general-each-project-inner-wrapper
                img.index-general-each-project-image(src=project.image[project.image.length - 1].url alt=`${__('index-home-each-project-image-alt')} ${project.name}`)
                .index-general-each-project-content-wrapper
                  .index-general-each-project-content-header-wrapper
                    .index-general-each-project-name= project.name
                    .index-general-each-project-help-wrapper
                      .index-general-each-project-help-text-wrapper
                        .index-general-each-project-help-text= project.information
                        a.index-general-each-project-help-link(href=project.url target='_blank')= __('index-general-each-project-help-link')
                      svg.index-general-each-project-help-icon(viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg')
                        path(d='M5.62912 3.51217C5.39636 3.47225 5.15698 3.51599 4.95338 3.63564C4.74978 3.7553 4.59509 3.94316 4.51673 4.16593C4.42509 4.42643 4.13963 4.56331 3.87914 4.47168C3.61864 4.38004 3.48175 4.09458 3.57339 3.83409C3.73013 3.38853 4.03949 3.01283 4.44669 2.77351C4.8539 2.5342 5.33265 2.44671 5.79817 2.52656C6.2637 2.60641 6.68594 2.84844 6.99011 3.20977C7.29422 3.57104 7.46069 4.02825 7.46006 4.50047C7.45983 5.26565 6.89253 5.77096 6.48741 6.04104C6.26959 6.18625 6.05534 6.29302 5.8975 6.36317C5.81788 6.39856 5.75082 6.42541 5.70251 6.44382C5.67831 6.45304 5.65869 6.46018 5.64441 6.46526L5.62704 6.47134L5.62151 6.47323L5.61956 6.47389L5.6188 6.47414C5.6188 6.47414 5.61817 6.47435 5.46006 6.00001L5.61817 6.47435C5.3562 6.56168 5.07304 6.4201 4.98572 6.15812C4.89845 5.89633 5.03978 5.61337 5.30142 5.52584L5.3094 5.52304C5.31709 5.52031 5.3297 5.51574 5.34651 5.50933C5.38023 5.49649 5.43037 5.47647 5.49136 5.44936C5.61478 5.3945 5.77552 5.31378 5.93271 5.20899C6.27751 4.97912 6.46006 4.73458 6.46006 4.50001L6.46006 4.49927C6.46041 4.26311 6.37717 4.03444 6.22508 3.85378C6.073 3.67311 5.86188 3.55209 5.62912 3.51217Z')
                        path(d='M5.5 7.5C5.22386 7.5 5 7.72386 5 8C5 8.27614 5.22386 8.5 5.5 8.5H5.505C5.78114 8.5 6.005 8.27614 6.005 8C6.005 7.72386 5.78114 7.5 5.505 7.5H5.5Z')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 5.5C0 2.46243 2.46243 0 5.5 0C8.53757 0 11 2.46243 11 5.5C11 8.53757 8.53757 11 5.5 11C2.46243 11 0 8.53757 0 5.5ZM5.5 1C3.01472 1 1 3.01472 1 5.5C1 7.98528 3.01472 10 5.5 10C7.98528 10 10 7.98528 10 5.5C10 3.01472 7.98528 1 5.5 1Z')
                    a.index-general-each-project-link(href=project.url target='_blank')
                      svg.index-general-each-project-link-icon(viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg')
                        path(d='M12.394 11.7999L11.3168 5.28297L12.2032 4.39657L11.4038 3.5972L10.5174 4.48359L4.23676 3.56988L3.0893 4.71734L10.2453 5.72928L9.98853 5.46035L11.204 12.9899L12.394 11.7999Z')
                        rect(x='10.6045' y='5.99512' width='8.7613' height='1.13049' transform='rotate(135 10.6045 5.99512)')
                  .index-general-each-project-description= project.description
              .index-general-each-project-install-button(id=`index-general-each-project-install-button-${project._id}`)
                .index-general-each-project-install-button-text= __('index-general-each-project-install-button-text')
      .index-home-content-wrapper#index-home-content-mainnet-wrapper
    .index-search-wrapper(style=setFrontDisplayStyle(page, 'index/search'))
      .index-search-input-wrapper
      .index-search-category-button-wrapper
        .index-search-category-each-button#index-search-category-each-button-all(class=(
          index_search_category != 'mainnet' && index_search_category != 'testnet' ? 'index-search-category-each-button-selected' : ''
        ))= __('index-search-category-each-button-all')
        .index-search-category-each-button#index-search-category-each-button-testnet(class=(
          index_search_category == 'testnet' ? 'index-search-category-each-button-selected' : ''
        ))= __('index-search-category-each-button-testnet')
        .index-search-category-each-button#index-search-category-each-button-mainnet(class=(
          index_search_category == 'mainnet' ? 'index-search-category-each-button-selected' : ''
        ))= __('index-search-category-each-button-mainnet')
      .index-search-category-selected-title#index-search-category-selected-title-all(style=(
        index_search_category == 'mainnet' || index_search_category == 'testnet' ? 'display: none' : ''
      ))= __('index-search-category-selected-title-all')
      .index-search-category-selected-title#index-search-category-selected-title-testnet(style=(
        index_search_category != 'testnet' ? 'display: none' : ''
      ))= __('index-search-category-selected-title-testnet')
      .index-search-category-selected-title#index-search-category-selected-title-mainnet(style=(
        index_search_category != 'mainnet' ? 'display: none' : ''
      ))= __('index-search-category-selected-title-mainnet')
      .index-search-content-wrapper#index-search-content-testnet-wrapper
        .index-general-projects-wrapper
          each project in projects
            .index-general-each-project-wrapper
              .index-general-each-project-inner-wrapper
                img.index-general-each-project-image(src=project.image[project.image.length - 1].url alt=`${__('index-search-each-project-image-alt')} ${project.name}`)
                .index-general-each-project-content-wrapper
                  .index-general-each-project-content-header-wrapper
                    .index-general-each-project-name= project.name
                    .index-general-each-project-help-wrapper
                      .index-general-each-project-help-text= project.information
                      svg.index-general-each-project-help-icon(viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg')
                        path(d='M5.62912 3.51217C5.39636 3.47225 5.15698 3.51599 4.95338 3.63564C4.74978 3.7553 4.59509 3.94316 4.51673 4.16593C4.42509 4.42643 4.13963 4.56331 3.87914 4.47168C3.61864 4.38004 3.48175 4.09458 3.57339 3.83409C3.73013 3.38853 4.03949 3.01283 4.44669 2.77351C4.8539 2.5342 5.33265 2.44671 5.79817 2.52656C6.2637 2.60641 6.68594 2.84844 6.99011 3.20977C7.29422 3.57104 7.46069 4.02825 7.46006 4.50047C7.45983 5.26565 6.89253 5.77096 6.48741 6.04104C6.26959 6.18625 6.05534 6.29302 5.8975 6.36317C5.81788 6.39856 5.75082 6.42541 5.70251 6.44382C5.67831 6.45304 5.65869 6.46018 5.64441 6.46526L5.62704 6.47134L5.62151 6.47323L5.61956 6.47389L5.6188 6.47414C5.6188 6.47414 5.61817 6.47435 5.46006 6.00001L5.61817 6.47435C5.3562 6.56168 5.07304 6.4201 4.98572 6.15812C4.89845 5.89633 5.03978 5.61337 5.30142 5.52584L5.3094 5.52304C5.31709 5.52031 5.3297 5.51574 5.34651 5.50933C5.38023 5.49649 5.43037 5.47647 5.49136 5.44936C5.61478 5.3945 5.77552 5.31378 5.93271 5.20899C6.27751 4.97912 6.46006 4.73458 6.46006 4.50001L6.46006 4.49927C6.46041 4.26311 6.37717 4.03444 6.22508 3.85378C6.073 3.67311 5.86188 3.55209 5.62912 3.51217Z')
                        path(d='M5.5 7.5C5.22386 7.5 5 7.72386 5 8C5 8.27614 5.22386 8.5 5.5 8.5H5.505C5.78114 8.5 6.005 8.27614 6.005 8C6.005 7.72386 5.78114 7.5 5.505 7.5H5.5Z')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 5.5C0 2.46243 2.46243 0 5.5 0C8.53757 0 11 2.46243 11 5.5C11 8.53757 8.53757 11 5.5 11C2.46243 11 0 8.53757 0 5.5ZM5.5 1C3.01472 1 1 3.01472 1 5.5C1 7.98528 3.01472 10 5.5 10C7.98528 10 10 7.98528 10 5.5C10 3.01472 7.98528 1 5.5 1Z')
                    a.index-general-each-project-link(href=project.url target='_blank')
                      svg.index-general-each-project-link-icon(viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        rect(x='7.60449' y='0.995117' width='8.7613' height='1.13049' transform='rotate(135 7.60449 0.995117)')
                  .index-general-each-project-description= project.description
              .index-general-each-project-install-button(id=`index-general-each-project-install-button-${project._id}`)
                .index-general-each-project-install-button-text= __('index-general-each-project-install-button-text')
      .index-search-content-wrapper#index-search-content-mainnet-wrapper
    .index-login-wrapper(style=setFrontDisplayStyle(page, 'index/login'))
        .index-login-left-wrapper
          .index-login-left-inner-wrapper
            a.index-login-project-link
              svg.index-login-project-link-icon(viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg')
                path(d='M24.9095 23.4832L22.7918 10.6705L24.5345 8.92782L22.9629 7.3562L21.2202 9.0989L8.87207 7.30249L6.61611 9.55845L20.6852 11.548L20.1803 11.0193L22.57 25.8227L24.9095 23.4832Z')
                rect(x='21.3916' y='12.0713' width='17.2251' height='2.2226' transform='rotate(135 21.3916 12.0713)')
            .index-login-project-header
              img.index-login-project-image(src=project.image alt=`${__('index-login-project-image-alt')} ${project.name}`)
              .index-login-project-header-content-wrapper
                .index-login-project-title= project.name
                .index-login-project-description= project.description
                if project.is_incentivized
                  .index-login-project-incentivized= __('index-login-project-incentivized')
            .index-login-project-stake-with-us= __('index-login-project-stake-with-us')
            .index-login-project-requirements-wrapper
              .index-login-project-requirements-title= __('index-login-project-requirements-title')
              //- .index-login-project-requirements-inner-wrapper
              //-   .index-login-project-each-requirement-wrapper
              //-     .index-login-project-each-requirement-title= __('index-login-project-each-requirement-title-cpu')
              //-     .index-login-project-each-requirement-text= project.requirements.cpu
              //-   .index-login-project-each-requirement-wrapper
              //-     .index-login-project-each-requirement-title= __('index-login-project-each-requirement-title-ram')
              //-     .index-login-project-each-requirement-text= project.requirements.ram
              //-   .index-login-project-each-requirement-wrapper
              //-     .index-login-project-each-requirement-title= __('index-login-project-each-requirement-title-storage')
              //-     .index-login-project-each-requirement-text= project.requirements.storage
              //-   .index-login-project-each-requirement-wrapper
              //-     .index-login-project-each-requirement-title= __('index-login-project-each-requirement-title-os')
              //-     .index-login-project-each-requirement-text= project.requirements.os
            .index-login-project-rent-server-title= __('index-login-project-rent-server-title')
            .index-login-project-rent-server-wrapper
              a.index-login-project-each-rent-server(href='https://node101.io' target='_blank') PQ Hosting
              .index-login-project-each-rent-server-divider
              a.index-login-project-each-rent-server(href='https://node101.io' target='_blank') Contabo
              .index-login-project-each-rent-server-divider
              a.index-login-project-each-rent-server(href='https://node101.io' target='_blank') Vultr
              .index-login-project-each-rent-server-divider
              a.index-login-project-each-rent-server(href='https://node101.io' target='_blank') Digital Ocean
        .index-login-right-wrapper
          .index-login-right-inner-wrapper
            .index-login-right-title= __('index-login-right-title')
            .index-login-right-each-input-outer-wrapper
              .index-login-right-each-input-title= __('index-login-right-each-input-title-ip')
              label.index-login-right-each-input-wrapper
                .index-login-right-each-input-inner-wrapper
                  .index-login-right-each-input-inner-content-wrapper#index-login-right-each-input-inner-content-wrapper-focus-selector
                    input.index-login-right-each-input(type='text' placeholder=__('index-login-right-each-input-placeholder-ip'))
                    svg.index-login-right-each-input-icon(viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg')
                      path(d='M1.80506 0.528758C1.54471 0.268409 1.1226 0.268409 0.862254 0.528758C0.601905 0.789108 0.601905 1.21122 0.862254 1.47157L4.86225 5.47157C5.1226 5.73192 5.54471 5.73192 5.80506 5.47157L9.80506 1.47157C10.0654 1.21122 10.0654 0.789108 9.80506 0.528758C9.54471 0.268409 9.1226 0.268409 8.86225 0.528758L5.33366 4.05735L1.80506 0.528758Z')
                  .index-login-right-each-input-inner-list-wrapper
                    each ip in saved_ip_list
                      .index-login-right-each-input-inner-list-each-item(id=`index-login-right-each-input-list-each-item-${ip}`)= ip
            .index-login-right-each-input-outer-wrapper
              .index-login-right-each-input-title= __('index-login-right-each-input-title-password')
              label.index-login-right-each-input-wrapper
                .index-login-right-each-input-inner-wrapper
                  .index-login-right-each-input-inner-content-wrapper
                    input.index-login-right-each-input(type='password' placeholder=__('index-login-right-each-input-placeholder-password'))
                    svg.index-login-right-each-input-icon#index-login-right-each-input-visibility-show-button(viewBox='0 0 16 12' xmlns='http://www.w3.org/2000/svg')
                      path(d='M15.4698 5.83C14.8817 4.30882 13.8608 2.99331 12.5332 2.04604C11.2056 1.09878 9.62953 0.561286 7.99979 0.5C6.37005 0.561286 4.79398 1.09878 3.46639 2.04604C2.1388 2.99331 1.11787 4.30882 0.529787 5.83C0.490071 5.93985 0.490071 6.06015 0.529787 6.17C1.11787 7.69118 2.1388 9.00669 3.46639 9.95396C4.79398 10.9012 6.37005 11.4387 7.99979 11.5C9.62953 11.4387 11.2056 10.9012 12.5332 9.95396C13.8608 9.00669 14.8817 7.69118 15.4698 6.17C15.5095 6.06015 15.5095 5.93985 15.4698 5.83ZM7.99979 10.5C5.34979 10.5 2.54979 8.535 1.53479 6C2.54979 3.465 5.34979 1.5 7.99979 1.5C10.6498 1.5 13.4498 3.465 14.4648 6C13.4498 8.535 10.6498 10.5 7.99979 10.5Z')
                      path(d='M7.99979 3C7.40644 3 6.82642 3.17595 6.33308 3.50559C5.83973 3.83524 5.45521 4.30377 5.22815 4.85195C5.00109 5.40013 4.94168 6.00333 5.05743 6.58527C5.17319 7.16721 5.45891 7.70176 5.87847 8.12132C6.29802 8.54088 6.83257 8.8266 7.41452 8.94236C7.99646 9.05811 8.59966 8.9987 9.14784 8.77164C9.69602 8.54458 10.1646 8.16006 10.4942 7.66671C10.8238 7.17336 10.9998 6.59334 10.9998 6C10.9998 5.20435 10.6837 4.44129 10.1211 3.87868C9.5585 3.31607 8.79544 3 7.99979 3ZM7.99979 8C7.60422 8 7.21755 7.8827 6.88865 7.66294C6.55975 7.44318 6.3034 7.13082 6.15203 6.76537C6.00065 6.39991 5.96105 5.99778 6.03822 5.60982C6.11539 5.22186 6.30587 4.86549 6.58557 4.58579C6.86528 4.30608 7.22164 4.1156 7.60961 4.03843C7.99757 3.96126 8.3997 4.00087 8.76515 4.15224C9.13061 4.30362 9.44296 4.55996 9.66273 4.88886C9.88249 5.21776 9.99979 5.60444 9.99979 6C9.99979 6.53043 9.78907 7.03914 9.414 7.41421C9.03893 7.78929 8.53022 8 7.99979 8Z')
                    svg.index-login-right-each-input-icon#index-login-right-each-input-visibility-hide-button(style='display: none' viewBox='0 0 16 12' xmlns='http://www.w3.org/2000/svg')
                      path(d='M15.4698 5.83C14.8817 4.30882 13.8608 2.99331 12.5332 2.04604C11.2056 1.09878 9.62953 0.561286 7.99979 0.5C6.37005 0.561286 4.79398 1.09878 3.46639 2.04604C2.1388 2.99331 1.11787 4.30882 0.529787 5.83C0.490071 5.93985 0.490071 6.06015 0.529787 6.17C1.11787 7.69118 2.1388 9.00669 3.46639 9.95396C4.79398 10.9012 6.37005 11.4387 7.99979 11.5C9.62953 11.4387 11.2056 10.9012 12.5332 9.95396C13.8608 9.00669 14.8817 7.69118 15.4698 6.17C15.5095 6.06015 15.5095 5.93985 15.4698 5.83ZM7.99979 10.5C5.34979 10.5 2.54979 8.535 1.53479 6C2.54979 3.465 5.34979 1.5 7.99979 1.5C10.6498 1.5 13.4498 3.465 14.4648 6C13.4498 8.535 10.6498 10.5 7.99979 10.5Z')
                      path(d='M7.99979 3C7.40644 3 6.82642 3.17595 6.33308 3.50559C5.83973 3.83524 5.45521 4.30377 5.22815 4.85195C5.00109 5.40013 4.94168 6.00333 5.05743 6.58527C5.17319 7.16721 5.45891 7.70176 5.87847 8.12132C6.29802 8.54088 6.83257 8.8266 7.41452 8.94236C7.99646 9.05811 8.59966 8.9987 9.14784 8.77164C9.69602 8.54458 10.1646 8.16006 10.4942 7.66671C10.8238 7.17336 10.9998 6.59334 10.9998 6C10.9998 5.20435 10.6837 4.44129 10.1211 3.87868C9.5585 3.31607 8.79544 3 7.99979 3ZM7.99979 8C7.60422 8 7.21755 7.8827 6.88865 7.66294C6.55975 7.44318 6.3034 7.13082 6.15203 6.76537C6.00065 6.39991 5.96105 5.99778 6.03822 5.60982C6.11539 5.22186 6.30587 4.86549 6.58557 4.58579C6.86528 4.30608 7.22164 4.1156 7.60961 4.03843C7.99757 3.96126 8.3997 4.00087 8.76515 4.15224C9.13061 4.30362 9.44296 4.55996 9.66273 4.88886C9.88249 5.21776 9.99979 5.60444 9.99979 6C9.99979 6.53043 9.78907 7.03914 9.414 7.41421C9.03893 7.78929 8.53022 8 7.99979 8Z')
            .index-login-right-error= 'ERROR: error'
            label.index-login-right-remember-me-wrapper
              .index-login-right-remember-me-icon-wrapper
                svg.index-login-right-remember-me-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
                  path(d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
              .index-login-right-remember-me-text= __('index-login-right-remember-me-text')
            .index-login-right-button-wrapper
              .index-login-right-button-text= __('index-login-right-button-text')
              svg.index-login-right-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
                path(d='M9.5 13.5C10.0523 13.5 10.5 13.0523 10.5 12.5C10.5 11.9477 10.0523 11.5 9.5 11.5C8.94771 11.5 8.5 11.9477 8.5 12.5C8.5 13.0523 8.94771 13.5 9.5 13.5Z')
                path(d='M9.5 3.5C10.0523 3.5 10.5 3.05229 10.5 2.5C10.5 1.94772 10.0523 1.5 9.5 1.5C8.94771 1.5 8.5 1.94772 8.5 2.5C8.5 3.05229 8.94771 3.5 9.5 3.5Z')
                path(d='M1 8.5C1.55228 8.5 2 8.05229 2 7.5C2 6.94772 1.55228 6.5 1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05229 0.447715 8.5 1 8.5Z')
                path(d='M13 5.5C12.5578 5.50134 12.1286 5.64933 11.7795 5.92077C11.4304 6.19221 11.1813 6.57178 11.071 7H8.92895C8.85816 6.718 8.72621 6.45501 8.54246 6.22968C8.3587 6.00435 8.12764 5.82219 7.86564 5.69611C7.60364 5.57003 7.31712 5.50312 7.02638 5.50011C6.73564 5.4971 6.4478 5.55807 6.18325 5.6787L4.595 3.6936C4.85633 3.35043 4.99853 2.93135 5 2.5C5 2.10444 4.8827 1.71776 4.66294 1.38886C4.44318 1.05996 4.13082 0.803617 3.76537 0.652242C3.39991 0.500867 2.99778 0.46126 2.60982 0.53843C2.22186 0.615601 1.86549 0.806082 1.58579 1.08579C1.30608 1.36549 1.1156 1.72186 1.03843 2.10982C0.961259 2.49778 1.00087 2.89992 1.15224 3.26537C1.30362 3.63082 1.55996 3.94318 1.88886 4.16294C2.21776 4.3827 2.60444 4.5 3 4.5C3.28192 4.49927 3.56043 4.43834 3.8169 4.3213L5.4049 6.3063C5.14235 6.64881 5.00005 7.06834 5.00005 7.4999C5.00005 7.93147 5.14235 8.35099 5.4049 8.6935L3.817 10.6785C3.56048 10.5615 3.28194 10.5007 3 10.5C2.60444 10.5 2.21776 10.6173 1.88886 10.8371C1.55996 11.0568 1.30362 11.3692 1.15224 11.7346C1.00087 12.1001 0.961259 12.5022 1.03843 12.8902C1.1156 13.2781 1.30608 13.6345 1.58579 13.9142C1.86549 14.1939 2.22186 14.3844 2.60982 14.4616C2.99778 14.5387 3.39991 14.4991 3.76537 14.3478C4.13082 14.1964 4.44318 13.94 4.66294 13.6111C4.8827 13.2822 5 12.8956 5 12.5C4.99854 12.0687 4.85634 11.6496 4.595 11.3064L6.1829 9.3214C6.44748 9.44207 6.73536 9.50306 7.02614 9.50007C7.31692 9.49707 7.60348 9.43016 7.86551 9.30406C8.12755 9.17797 8.35864 8.99579 8.54242 8.77043C8.7262 8.54507 8.85816 8.28205 8.92895 8H11.071C11.1652 8.36135 11.3587 8.68907 11.6298 8.94593C11.9008 9.2028 12.2384 9.37851 12.6043 9.45313C12.9702 9.52774 13.3496 9.49827 13.6996 9.36805C14.0496 9.23782 14.356 9.01208 14.5841 8.71644C14.8122 8.4208 14.9529 8.06713 14.99 7.69557C15.0272 7.32402 14.9595 6.94949 14.7945 6.6145C14.6295 6.27952 14.3739 5.99751 14.0567 5.8005C13.7395 5.6035 13.3734 5.49939 13 5.5ZM2 2.5C2 2.30222 2.05865 2.10888 2.16853 1.94443C2.27841 1.77998 2.43459 1.65181 2.61732 1.57612C2.80004 1.50043 3.00111 1.48063 3.19509 1.51922C3.38907 1.5578 3.56725 1.65304 3.70711 1.79289C3.84696 1.93275 3.9422 2.11093 3.98079 2.30491C4.01937 2.49889 3.99957 2.69996 3.92388 2.88268C3.84819 3.06541 3.72002 3.22159 3.55557 3.33147C3.39112 3.44135 3.19778 3.5 3 3.5C2.73488 3.4997 2.4807 3.39424 2.29323 3.20677C2.10576 3.0193 2.0003 2.76512 2 2.5ZM3 13.5C2.80222 13.5 2.60888 13.4414 2.44443 13.3315C2.27998 13.2216 2.15181 13.0654 2.07612 12.8827C2.00043 12.7 1.98063 12.4989 2.01921 12.3049C2.0578 12.1109 2.15304 11.9327 2.29289 11.7929C2.43275 11.653 2.61093 11.5578 2.80491 11.5192C2.99889 11.4806 3.19996 11.5004 3.38268 11.5761C3.56541 11.6518 3.72159 11.78 3.83147 11.9444C3.94135 12.1089 4 12.3022 4 12.5C3.9997 12.7651 3.89424 13.0193 3.70677 13.2068C3.5193 13.3942 3.26512 13.4997 3 13.5ZM7 8.5C6.80222 8.5 6.60888 8.44135 6.44443 8.33147C6.27998 8.22159 6.15181 8.06541 6.07612 7.88268C6.00043 7.69996 5.98063 7.49889 6.01921 7.30491C6.0578 7.11093 6.15304 6.93275 6.29289 6.79289C6.43275 6.65304 6.61093 6.5578 6.80491 6.51922C6.99889 6.48063 7.19996 6.50043 7.38268 6.57612C7.56541 6.65181 7.72159 6.77998 7.83147 6.94443C7.94135 7.10888 8 7.30222 8 7.5C7.9997 7.76512 7.89424 8.0193 7.70677 8.20677C7.5193 8.39424 7.26512 8.4997 7 8.5ZM13 8.5C12.8022 8.5 12.6089 8.44135 12.4444 8.33147C12.28 8.22159 12.1518 8.06541 12.0761 7.88268C12.0004 7.69996 11.9806 7.49889 12.0192 7.30491C12.0578 7.11093 12.153 6.93275 12.2929 6.79289C12.4327 6.65304 12.6109 6.5578 12.8049 6.51922C12.9989 6.48063 13.2 6.50043 13.3827 6.57612C13.5654 6.65181 13.7216 6.77998 13.8315 6.94443C13.9414 7.10888 14 7.30222 14 7.5C13.9997 7.76512 13.8942 8.0193 13.7068 8.20677C13.5193 8.39424 13.2651 8.4997 13 8.5Z')
  .node-wrapper
    template.node-general-each-short-input-wrapper(style='display: none')
      .node-general-each-short-input-title
      input.node-general-each-short-input(type='text')
      .node-general-each-short-input-helper
      .node-general-each-short-input-error(style='display: none')
    template.node-general-each-long-input-wrapper(style='display: none')
      .node-general-each-long-input-title
      input.node-general-each-long-input(type='text')
      .node-general-each-long-input-helper
      .node-general-each-long-input-error(style='display: none')
    .node-edit-wrapper
      .node-general-title-wrapper
        .node-general-title= __('node-general-title')
        .node-general-title-help-wrapper
          svg.node-general-title-help-icon(viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg')
            path(d='M11.2582 7.02434C10.7927 6.94449 10.314 7.03197 9.90675 7.27129C9.49955 7.5106 9.19019 7.88631 9.03345 8.33187C8.85018 8.85286 8.27926 9.12663 7.75827 8.94336C7.23728 8.76008 6.96351 8.18917 7.14678 7.66818C7.46025 6.77707 8.07898 6.02565 8.89339 5.54702C9.70779 5.06839 10.6653 4.89343 11.5963 5.05313C12.5274 5.21283 13.3719 5.69688 13.9802 6.41955C14.5884 7.14207 14.9214 8.0565 14.9201 9.00093C14.9197 10.5313 13.7851 11.5419 12.9748 12.0821C12.5392 12.3725 12.1107 12.586 11.795 12.7263C11.6358 12.7971 11.5016 12.8508 11.405 12.8876C11.3566 12.9061 11.3174 12.9204 11.2888 12.9305L11.2541 12.9427L11.243 12.9465L11.2391 12.9478L11.2376 12.9483C11.2376 12.9483 11.2363 12.9487 10.9201 12L11.2363 12.9487C10.7124 13.1234 10.1461 12.8402 9.97143 12.3162C9.7969 11.7927 10.0796 11.2267 10.6028 11.0517L10.6188 11.0461C10.6342 11.0406 10.6594 11.0315 10.693 11.0187C10.7605 10.993 10.8607 10.9529 10.9827 10.8987C11.2296 10.789 11.551 10.6276 11.8654 10.418C12.555 9.95824 12.9201 9.46916 12.9201 9.00002L12.9201 8.99853C12.9208 8.52621 12.7543 8.06889 12.4502 7.70755C12.146 7.34622 11.7238 7.10419 11.2582 7.02434Z')
            path(d='M11 15C10.4477 15 10 15.4477 10 16C10 16.5523 10.4477 17 11 17H11.01C11.5623 17 12.01 16.5523 12.01 16C12.01 15.4477 11.5623 15 11.01 15H11Z')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11ZM11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2Z')
          .node-general-title-help-text= node.help
        - for (let i = 0; i < short_input_list.length; i += 2)
          .node-general-each-input-line-wrapper
            .node-general-each-short-input-wrapper(style='display: none')
              .node-general-each-short-input-title= short_input_list[i].title
              input.node-general-each-short-input(type='text' placeholder=short_input_list[i].placeholder)
              .node-general-each-short-input-helper= short_input_list[i].helper || ''
              .node-general-each-short-input-error(style='display: none')
        each input in long_input_list
          .node-general-each-long-input-wrapper(style='display: none')
            .node-general-each-long-input-title= input.title
            input.node-general-each-long-input(type='text' placeholder=input.placeholder)
            .node-general-each-long-input-helper= input.helper || ''
            .node-general-each-long-input-error(style='display: none')
  .settings-wrapper