extends ./partials/header
block main
  .index-wrapper(style='display: none')
    .index-home-wrapper(style=setFrontDisplayStyle(page, 'index/home'))
      .index-home-header-wrapper
        .index-home-header-each-button.index-home-header-each-button-active#index-home-header-each-button-testnet= __('index-home-header-each-button-testnet')
        .index-home-header-each-button#index-home-header-each-button-mainnet= __('index-home-header-each-button-mainnet')
      .index-home-content-wrapper#index-home-content-testnet-wrapper
        if projects && projects.length
          each project in projects
            .index-home-each-project-wrapper
              .index-home-each-project-inner-wrapper
                img.index-home-each-project-image(src=project.image alt=`${__('index-home-each-project-image-alt')} ${project.name}`)
                .index-home-each-project-content-wrapper
                  .index-home-each-project-content-header-wrapper
                    .index-home-each-project-name= project.name
                    .index-home-each-project-help-wrapper
                      .index-home-each-project-help-text= project.information
                      svg.index-home-each-project-help-icon(viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg')
                        path(d='M5.62912 3.51217C5.39636 3.47225 5.15698 3.51599 4.95338 3.63564C4.74978 3.7553 4.59509 3.94316 4.51673 4.16593C4.42509 4.42643 4.13963 4.56331 3.87914 4.47168C3.61864 4.38004 3.48175 4.09458 3.57339 3.83409C3.73013 3.38853 4.03949 3.01283 4.44669 2.77351C4.8539 2.5342 5.33265 2.44671 5.79817 2.52656C6.2637 2.60641 6.68594 2.84844 6.99011 3.20977C7.29422 3.57104 7.46069 4.02825 7.46006 4.50047C7.45983 5.26565 6.89253 5.77096 6.48741 6.04104C6.26959 6.18625 6.05534 6.29302 5.8975 6.36317C5.81788 6.39856 5.75082 6.42541 5.70251 6.44382C5.67831 6.45304 5.65869 6.46018 5.64441 6.46526L5.62704 6.47134L5.62151 6.47323L5.61956 6.47389L5.6188 6.47414C5.6188 6.47414 5.61817 6.47435 5.46006 6.00001L5.61817 6.47435C5.3562 6.56168 5.07304 6.4201 4.98572 6.15812C4.89845 5.89633 5.03978 5.61337 5.30142 5.52584L5.3094 5.52304C5.31709 5.52031 5.3297 5.51574 5.34651 5.50933C5.38023 5.49649 5.43037 5.47647 5.49136 5.44936C5.61478 5.3945 5.77552 5.31378 5.93271 5.20899C6.27751 4.97912 6.46006 4.73458 6.46006 4.50001L6.46006 4.49927C6.46041 4.26311 6.37717 4.03444 6.22508 3.85378C6.073 3.67311 5.86188 3.55209 5.62912 3.51217Z')
                        path(d='M5.5 7.5C5.22386 7.5 5 7.72386 5 8C5 8.27614 5.22386 8.5 5.5 8.5H5.505C5.78114 8.5 6.005 8.27614 6.005 8C6.005 7.72386 5.78114 7.5 5.505 7.5H5.5Z')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 5.5C0 2.46243 2.46243 0 5.5 0C8.53757 0 11 2.46243 11 5.5C11 8.53757 8.53757 11 5.5 11C2.46243 11 0 8.53757 0 5.5ZM5.5 1C3.01472 1 1 3.01472 1 5.5C1 7.98528 3.01472 10 5.5 10C7.98528 10 10 7.98528 10 5.5C10 3.01472 7.98528 1 5.5 1Z')
                    a.index-home-each-project-link(href=project.url target='_blank')
                      svg.index-home-each-project-link-icon(viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        rect(x='7.60449' y='0.995117' width='8.7613' height='1.13049' transform='rotate(135 7.60449 0.995117)')
                  .index-home-each-project-description= project.description
              .index-home-each-project-install-button(id=`index-home-each-project-install-button-${project._id}`)
                .index-home-each-project-install-button-text= __('index-home-each-project-install-button-text')
      .index-home-content-wrapper#index-home-content-mainnet-wrapper
    .index-search-wrapper(style=setFrontDisplayStyle(page, 'index/search'))
      .index-search-input-wrapper
      .index-search-category-button-wrapper
        .index-search-category-each-button#index-search-category-each-button-all(class=(
          index_search_category != 'mainnet' && index_search_category != 'testnet' ? 'index-search-category-each-button-selected' : ''
        ))= __('index-search-category-each-button-all')
        .index-search-category-each-button#index-search-category-each-button-testnet(class=(
          index_search_category == 'testnet' ? 'index-search-category-each-button-selected' : ''
        ))= __('index-search-category-each-button-testnet')
        .index-search-category-each-button#index-search-category-each-button-mainnet(class=(
          index_search_category == 'mainnet' ? 'index-search-category-each-button-selected' : ''
        ))= __('index-search-category-each-button-mainnet')
      .index-search-category-selected-title#index-search-category-selected-title-all(style=(
        index_search_category == 'mainnet' || index_search_category == 'testnet' ? 'display: none' : ''
      ))= __('index-search-category-selected-title-all')
      .index-search-category-selected-title#index-search-category-selected-title-testnet(style=(
        index_search_category != 'testnet' ? 'display: none' : ''
      ))= __('index-search-category-selected-title-testnet')
      .index-search-category-selected-title#index-search-category-selected-title-mainnet(style=(
        index_search_category != 'mainnet' ? 'display: none' : ''
      ))= __('index-search-category-selected-title-mainnet')
      .index-search-content-wrapper#index-search-content-testnet-wrapper
        if projects && projects.length
          each project in projects
            .index-search-each-project-wrapper
              .index-search-each-project-inner-wrapper
                img.index-search-each-project-image(src=project.image alt=`${__('index-search-each-project-image-alt')} ${project.name}`)
                .index-search-each-project-content-wrapper
                  .index-search-each-project-content-header-wrapper
                    .index-search-each-project-name= project.name
                    .index-search-each-project-help-wrapper
                      .index-search-each-project-help-text= project.information
                      svg.index-search-each-project-help-icon(viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg')
                        path(d='M5.62912 3.51217C5.39636 3.47225 5.15698 3.51599 4.95338 3.63564C4.74978 3.7553 4.59509 3.94316 4.51673 4.16593C4.42509 4.42643 4.13963 4.56331 3.87914 4.47168C3.61864 4.38004 3.48175 4.09458 3.57339 3.83409C3.73013 3.38853 4.03949 3.01283 4.44669 2.77351C4.8539 2.5342 5.33265 2.44671 5.79817 2.52656C6.2637 2.60641 6.68594 2.84844 6.99011 3.20977C7.29422 3.57104 7.46069 4.02825 7.46006 4.50047C7.45983 5.26565 6.89253 5.77096 6.48741 6.04104C6.26959 6.18625 6.05534 6.29302 5.8975 6.36317C5.81788 6.39856 5.75082 6.42541 5.70251 6.44382C5.67831 6.45304 5.65869 6.46018 5.64441 6.46526L5.62704 6.47134L5.62151 6.47323L5.61956 6.47389L5.6188 6.47414C5.6188 6.47414 5.61817 6.47435 5.46006 6.00001L5.61817 6.47435C5.3562 6.56168 5.07304 6.4201 4.98572 6.15812C4.89845 5.89633 5.03978 5.61337 5.30142 5.52584L5.3094 5.52304C5.31709 5.52031 5.3297 5.51574 5.34651 5.50933C5.38023 5.49649 5.43037 5.47647 5.49136 5.44936C5.61478 5.3945 5.77552 5.31378 5.93271 5.20899C6.27751 4.97912 6.46006 4.73458 6.46006 4.50001L6.46006 4.49927C6.46041 4.26311 6.37717 4.03444 6.22508 3.85378C6.073 3.67311 5.86188 3.55209 5.62912 3.51217Z')
                        path(d='M5.5 7.5C5.22386 7.5 5 7.72386 5 8C5 8.27614 5.22386 8.5 5.5 8.5H5.505C5.78114 8.5 6.005 8.27614 6.005 8C6.005 7.72386 5.78114 7.5 5.505 7.5H5.5Z')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 5.5C0 2.46243 2.46243 0 5.5 0C8.53757 0 11 2.46243 11 5.5C11 8.53757 8.53757 11 5.5 11C2.46243 11 0 8.53757 0 5.5ZM5.5 1C3.01472 1 1 3.01472 1 5.5C1 7.98528 3.01472 10 5.5 10C7.98528 10 10 7.98528 10 5.5C10 3.01472 7.98528 1 5.5 1Z')
                    a.index-search-each-project-link(href=project.url target='_blank')
                      svg.index-search-each-project-link-icon(viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                        rect(x='7.60449' y='0.995117' width='8.7613' height='1.13049' transform='rotate(135 7.60449 0.995117)')
                  .index-search-each-project-description= project.description
              .index-search-each-project-install-button(id=`index-search-each-project-install-button-${project._id}`)
                .index-search-each-project-install-button-text= __('index-search-each-project-install-button-text')
      .index-search-content-wrapper#index-search-content-mainnet-wrapper
    .index-login-wrapper(style=setFrontDisplayStyle(page, 'index/login'))
  .node-wrapper
  .settings-wrapper